@use "../abstract" as var;
.Standout {
  .StandoutImg {
    background-image: url(images/desktop/image-stand-out.jpg);
    @include var.breakpoints(mobile) {
      background-image: url(images/mobile/image-stand-out.jpg);
    }
  }

  .StandoutContent {
    button::after {
      background-color: var.$Softred;
    }
    p {
      @include var.breakpoints(mobile) {
        width: 344px;
      }
    }
  }
}
